
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



*{
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
body{
    background-color: rgb(12, 12, 12);
    margin:0;
}




/*Header*/
header{
    display: flex;
    width: 100%;
    background-color: rgb(0, 0, 0);
    align-items: center;
    padding-left: 5px;
    margin: 0% 0%;
    border-radius: 8px;
    justify-content: space-between;
    
}

nav ul li{
    float: left;
    padding: 15px 12px;
    list-style: none;
    margin-bottom: 18px;
}




header ul li a{
  color:rgb(199, 199, 199);
  text-decoration: none;
}
nav ul li a:hover{
  color: #2955bd;
  
}

 header div button {
    color: aliceblue;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 12px 20px;
    margin-right: 12px;
    margin-left: 10px;
    border: 10; 
    border-color: blue;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}


header button:hover {
    background-color: #2955bd; 
}



/* Media Query for Responsive Design */
@media only screen and (max-width: 768px) {
  header {
      flex-direction: column;
      align-items: flex-start;
  }
  nav ul li {
      
      margin-bottom: 10px;
  }
  header div button {
      margin: 10px 0;
  }
  .search {
    flex-direction: row;
    align-items: flex-start;
}
}

.map-container {
    margin-top: 32px;
    border-radius: 12px;
    height: 60vh; /* 60% of the viewport height */
    width: 80vw; /* 80% of the viewport width */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative; /* Change position to relative */
    margin-left: 10%;
    background-color: rgba(43, 42, 42, 0.551);
}

.loc {
    position: absolute;
    height: 65%; /* 65% of the map container */
    width: 70%; /* 70% of the map container */
     
}

iframe {
    border-radius: 3%;
    width: 100%;
    height: 100%;
}

.icons {
    display: flex;
    position: absolute;
    bottom: 2%; /* Adjust based on preference */
    padding: 10px;
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.icons p1 {
    margin-right: 52px;
}

#head {
    position: absolute;
    top: 1%;
    color: #ffffff;
    padding: 10px;
}

@media only screen and (min-width: 1024px) {
    .map-container {
        width: 60vw; /* 60% of the viewport width */
        margin-left: 20%; /* Increase the left margin */
    }

    .loc {
        height: 70%; /* Adjusted height */
        width: 60%; /* Adjusted width */
        left: 20%; /* Adjusted left position */
    }

    #head {
        left: 35%; /* Adjusted left position */
    }
}


@media only screen and (max-width: 405px) {
.icons{
    display: flex;
    flex-direction: row;
    top: 90%;
    right: 0;
    left: 0;
    margin-left: 2px;
    margin-right: 2px;
    transform: translateY(-80%);
    font-size: small;
    font-weight: 100px;

}
.icons p1 {
    margin-right: 5px;
}
}